{{define "BG"}}
<style>
body {
background-image: url("/static/images/bg3.jpg");
}
</style>
{{end}}
{{define "content"}}
  
    <!-- About Section -->
    <div class="container mt-5">
        <h1>About RelaxB&B</h1>
        <p>
            Welcome to RelaxB&B, your ultimate destination for a memorable and rejuvenating experience. Nestled on the
            picturesque shores of the Atlantic Ocean, we offer a perfect blend of luxury, comfort, and affordability.
        </p>
        <p>
            At RelaxB&B, our mission is to provide you with the best possible stay, ensuring that you feel at home
            away from home. Whether you're seeking a peaceful retreat or a fun-filled getaway, we have something special
            for everyone.
        </p>
        <p>
            Our dedicated team of staff is committed to delivering top-notch hospitality, making sure that your needs
            are
            taken care of throughout your stay. From cozy quarters to lavish suites, each of our accommodations is
            thoughtfully designed to offer you a tranquil and blissful atmosphere.
        </p>
        <p>
            Explore the breathtaking beauty of the ocean, indulge in scrumptious meals, and engage in exciting
            activities
            during your stay with us. Your comfort and satisfaction are our top priorities, and we strive to exceed your
            expectations at every turn.
        </p>
        <p>
            So come and experience the magic of RelaxB&B. Create lasting memories, unwind, and make the most of your
            vacation with us. We look forward to welcoming you and providing you with an unforgettable stay.
        </p>
    </div>



{{end}}
{{template "base" .}}