{{define "BG"}}
    <style>
body {
background-image: url("/static/images/bg1.jpg");
}
</style>
{{end}}

{{define "content"}}
   

    <div class="jumbotron">
        <h1 class="display-4">Welcome to Relax Bed and Breakfast</h1>
        <p class="lead">
            Escape to a coastal retreat of relaxation and fun. Our budget-friendly bed and breakfast offers a chill
            atmosphere, perfect for unwinding and enjoying the company of others. Experience the serenity of the
            shoreline and create cherished memories with like-minded travelers. Book your coastal escape now!
        </p>
        <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>
    </div>



{{end}}



{{template "base" .}}