{{define "BG"}}
<style>
body {
background-image: url("/static/images/subg.jpg");
}
</style>
{{end}}
{{define "content"}}
  
  <!-- Suite Section -->
    <div class="container mt-5">
        <h1>Suite</h1>
        <p>
            Our luxurious suite offers an unparalleled experience for those seeking the finest accommodations. Indulge
            in
            opulence and comfort as you relax in the spacious living area and savor the majestic views of the Atlantic
            Ocean.
        </p>
        <p>
            The suite is meticulously designed with elegance and sophistication in mind, providing a serene sanctuary
            for
            your stay. Immerse yourself in the tranquil atmosphere and let the gentle ocean breeze soothe your senses.
        </p>
        <p>
            Whether it's a romantic getaway or a special occasion, our suite is the perfect choice for a memorable stay
            at
            RelaxB&B.
        </p>
    </div>

            <div class="row">
            
                <div class="col text-center">
            
                    <a id="check-availability-button" href="/make-reservation-gq" class="btn btn-success">Check Availability</a>
            
                </div>
            </div>
    <!-- Footer -->
    <footer class="my-footer fixed-bottom bg-dark text-white text-center py-2">
        <div class="container">
            <div class="row">
                <div class="col">left</div>
                <div class="col">center</div>
                <div class="col">right</div>
            </div>
        </div>
    </footer>


{{end}}
{{template "base" .}}